Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<form method="get">
  <a href="/companies/<%= @company.id %>/jobs/<%= @job.id %>/edit">Edit</a>
</form>

Category: <%= link_to @category.title, category_path(@category) %>
