Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>
<br>
<form method="get">
  <a href='<%= edit_job_path(@job) %>'>Edit Job</a>
</form>
<br>
<br>
Company: <%= link_to @job.company.name, company_path(@job.company) %>


Category: <%= link_to @category.title, category_path(@category) %>
<br>
<br>

Comments:
<%= form_for @comment do |f| %>
  <%= hidden_field_tag "job_id", @job.id %>
  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit %>
<% end %>


<% @all_comments.each do |c| %>
<ul class='category-class'>
  <li><%= c.text %></li>
  <li class='comment-time'><%= c.created_at %></li>
</ul>
<% end %>
