<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<% @company.jobs.each do |job| %>
  <ul>
    <li><%= link_to job.title, job_path(job) %></a></li>
  </ul>
<% end %>

<% @company.contacts.each do |contact| %>
  <ul>
    <li><%= contact.name %></li>
    <li><%= contact.position %></li>
    <li><%= contact.email %></li>
  </ul>
  <ul>
    <li><%= link_to "Edit Contact", edit_company_contact_path(@company, contact) %></li>
    <li><%= link_to "Delete Contact", company_contact_path(@company, contact), method: 'delete' %></li>
  </ul>
<% end %>

<%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :position %>
  <%= f.text_field :position %>
  <%= f.submit %>
<% end %>
